.popup__show-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FFFFFF;
    max-width: 291px;
    font-style: normal;
  }

  @media (max-width: 767px) {
    .popup__title {
      max-width: 240px;
    }
  }