.header__user_information {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    text-decoration: none;
    margin: 37px 24px 0 0;
  } 

@media (max-width: 767px) {
  .header__user_information {
    font-size: 14px;
    margin: 18px auto 0 auto;
  }
}