.element__like {
    margin: 0 0 3px 0;
    padding: 0;
    width: 22px;
    height: 19px;
    align-self: center;
    background-image: url(../../../images/heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(1, 0, 0, 0);
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}